<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whois | redehost.com.br</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/component.css" />
    <script src="~/Content/js/modernizr.custom.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Whois", "Index", "Home")</li>
                    <li>@Html.ActionLink("Histórico", "Buscas", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <script src="~/Content/js/classie.js"></script>
    <script src="~/Content/js/stepsForm.js"></script>
    <script>
        var theForm = document.getElementById('theForm');

        new stepsForm(theForm, {
            onSubmit: function (form) {
                // hide form
                classie.addClass(theForm.querySelector('.simform-inner'), 'hide');

                /*
                form.submit()
                or
                AJAX request (maybe show loading indicator while we don't have an answer..)
                */

                // let's just simulate something...
                var messageEl = theForm.querySelector('.final-message');
                messageEl.innerHTML = 'Thank you! We\'ll be in touch.';
                classie.addClass(messageEl, 'show');
            }
        });
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
